body {
  background-color: white; }

h1 {
  text-align: center; }

.weather-inputs {
  display: inline-block; }

.weather-input-box {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.button-box {
  display: flex;
  justify-content: center; }

.currently {
  text-align: center; }

.current-weather {
  text-align: center; }

.weather-box {
  border: solid;
  height: 200px;
  width: 200px; }
  .weather-box p {
    text-align: center; }

.daily-weather {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around; }
